<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- <style>
    h1 {text-align: center;}
    h4 {text-align: center;}
    p {text-align: center;}
    
    .center {
  margin-left: auto;
  margin-right: auto;
}
    </style>-->
    
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <div class="row">
    <div class="col-md-12">
    <h1><strong>Latest Mars News</h1></strong>
      <h4>{{ mars.news_title }}</h4>
      <p>{{ mars.news_p }}</p>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2><strong>Featured Mars Image</h2></strong>
        <img src="{{ mars.featured_image_url }}" alt="featured mars image">
      </div>
    </div>
    <div class="border">
      <h2>Mars Facts:</h2>
      {{ mars.fact_table | safe}}
  </div>
  </div>
  </div>
  
  
  <div class="row">       
    {% for hem in mars.hemisphere_images %} 
    <p style="float: left; font-size: 9pt; text-align: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;"><img src="{{hem.img_url}}" style="width: 100%">{{hem.title}}</p>
      <!--<div class="col-6 border">
      </br>
            <div>
              <img src="{{hem.img_url}}" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
            </div>

             <div>
              <h4> {{hem.title}} </h4>  
            </div>-->
    
      </div>
    {% endfor %}
</div> 
  
</div>
</body>

</html>
